<%- include('header'); -%>
  <div class="container">
    <h1 class="text-center">Hidden</h1>
  </div>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <h1>Birb Note</h1>
      </div>
      <% console.log(results[0]) %>
      <ul>
        <% Object.keys(results[0]).forEach((sightAttr)=> { %>
        <li><%= `${sightAttr.charAt(0).toUpperCase()+sightAttr.slice(1).replace('_',' ')} : ${results[0][sightAttr]} `%></li>
        <% }); %>
      </ul>
      <div class="row justify-content-center ">
        <form class="justify-content-center"
          action="/note/<%= results[0].id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger btn-lg mx-2" type="submit" />Delete</button>
        </form>
      </div>
    <form
      action="/note/<%= results[0].id %>/edit?_method=PUT"
      method="POST"
    >
      <div class="mb-3">
        <label for="habitat">Habitat:</label><br />
        <input type="text" value="<%= `${results[0]['habitat']} `%>" id="habitat" name="habitat" /><br />
      </div>
      <div class="mb-3">
        <label for="date">Date sighted:</label><br />
        <input type="date" value="<%= `${results[0]['date']} `%>" id="date" name="date" /><br />
      </div>
      <div class="mb-3">
        <label for="appearance">Appearance:</label><br />
        <input type="text" value="<%= `${results[0]['appearance']} `%>" id="appearance" name="appearance" /><br />
      </div>
      <div class="mb-3">
        <label for="behaviour">Behaviour:</label><br />
        <input type="text" value="<%= `${results[0]['behaviour']} `%>" id="behaviour" name="behaviour" /><br />
      </div>
      <div class="mb-3">
        <label for="vocalisation">Vocalisation:</label><br />
        <input type="text" value="<%= `${results[0]['vocalisation']} `%>" id="vocalisation" name="vocalisation" /><br />
      </div>
      <div class="mb-3">
        <label for="flock_size">Flock Size:</label><br />
        <input type="text" value="<%= `${results[0]['flock_size']} `%>" id="flock_size" name="flock_size" /><br />
      </div>
      <div class="row justify-content-center">
        <button class="btn btn-info btn-lg mx-2" type="submit" />Submit</button>
      </div>
    </form>
  </div>
  </body>
</html>
