<%- include('header'); -%>
  <div class="container">
    <h1 class="text-center">Hidden</h1>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <h1>Birb Note</h1>
    </div>
    <% console.log(results) %>
    <ul>
      <% Object.keys(results[0]).forEach((sightAttr)=> { %>
      <li><%= `${sightAttr.charAt(0).toUpperCase()+sightAttr.slice(1).replace('_',' ')} : ${results[0][sightAttr]} `%></li>
      <% }); %>
      <% const behaviourList = behave.map((entry)=>entry.behaviour_type.charAt(0).toUpperCase()+entry.behaviour_type.slice(1)) %> 
      <% console.log('list',behaviourList) %> 
      <li><%= `Behaviours : ${behaviourList.toString()}` %></li>
    </ul>
    <div class="row justify-content-center ">
      <form action="/note/<%= results[0].id %>/edit" method="get">
        <button class="btn btn-info btn-lg mx-2" type="submit" />Edit</button>
      </form>
      <form
        action="/note/<%= results[0].id %>?_method=DELETE"
        method="POST"
      >
        <button class="btn btn-danger btn-lg mx-2" type="submit" />Delete</button>
      </form>
    </div>
    
  </div>
  </body>
</html>
